<section class="inbox  container">
    <div class="inbox-title">
        <h1>Deliciousness to your inbox</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Enim ad minim veniam.</p>
    </div>
    <div class="inbox-input">
        <input type="text" placeholder="Your email address..." class="form-control mt-3">
        <button class="btn">Subscribe</button>
    </div>
    <div class="inbox-img">
    <img src="/assets/images/kisspng-salad.png" class="salad"/>
    <img src="/assets/images/Photo-plate.png" class="egg"/>
    <img src="/assets/images/rucola.png" class="rucola"/>
    </div>
</section>
