<div class="container Categories">
    <div class="Categories-title">
      <h1>Categories</h1>
      <button class="btn Categories-btn">View All Categories</button>
    </div>
    <div class="Categories-items row">
      <div class="col-md-2 category-item" *ngFor="let category of categories">
        <div 
          class="category-card"
          [ngStyle]="{
            'background': getGradient(category.gradient)
          }"
        >
          <img [src]="category.image" alt="{{ category.name }}" class="category-img" />
          <h3 class="category-name">{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  