@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.categories {
  margin-block-start: 100px;

  .categories-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 80px;

    h1 {
      @include heading;
      font-size: 48px;
    }

    .categories-btn {
      @include main-btn;
      background-color: $primary-color;
      color: $dark-color;
      font-weight: 600;
    }
  }

  .categories-items {
    display: flex;
    align-items: center;
    justify-content: center;
    .category-card {
      width: 100%;
      border-radius: 10px;
      text-align: center;
      background-image: $gradient-black;
      border-radius: 30px;
      cursor: pointer;
      &:hover .category-img {
        transform: scale(1.05);
        transform: translatey(-10px);
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
      }
    
      .category-img {
        width: 100px;
        height: 100px;
        transition: all 0.3s;
      }
      .category-name {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.36px;
        padding-block: 30px;
      }
    }
  }
}

@media (max-width:1000px) {
  .categories {
    .categories-items {
      .category-card {
        .category-img {
          width: 62px;
          height: 67px;
        }
      }
    }
  }
}

@media (max-width:760px) {
  .categories {
    margin-block-start: 20px;

    .categories-title {
      flex-direction: column;
      margin-block-end: 20px
    }

    .categories-items {
      .category-card {
        margin-block: 20px;
        .category-img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}