<div class="container categories">
    <div class="categories-title">
      <h1>categories</h1>
      <button class="btn categories-btn">View All categories</button>
    </div>
    <div class="categories-items row">
      <div class="col-md-2 category-item" *ngFor="let category of categories">
        <div 
          class="category-card"
          [ngStyle]="{
            'background': getGradient(category.gradient)
          }"
        >
          <img [src]="category.image" alt="{{ category.name }}" class="category-img" />
          <h3 class="category-name">{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  