@mixin heading {
  color: $dark-color;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.56px;

  @media (max-width: 760px) {
    font-size: 40px;
    letter-spacing: -1.50px;
  }
  @media (max-width: 460px) {
    font-size: 30px;
    

  }
}


@mixin main-btn($padding: 16px) {
  padding: $padding;
  border-radius: 16px;
  background: $dark-color;
  color: white;
  border: none;
  cursor: pointer;
}

@mixin heading-title {
  color: $gray-color;
  font-size: 16px;
  font-weight: 400;
}
@mixin input-styles {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  padding: 20px 40px;
  border: 1px solid $gray-color;
  font-size: 14px; 
  font-weight: 500;
  border-radius: 24px;
  color: $gray-color;

  &:focus,
  &:active {
      box-shadow: none; // Remove box-shadow on focus/active
  }
}
