<section class="recipes">
  <div class="container">
    <div class="row main">
      <div class="col-md-8 vedio-part">
        <h1 class="title">Health Japanese Fried Rice</h1>
        <div class="row items">
          <div class="col-md-3 item">
            <img src="/assets/images/Ellipse 2.png" />
            <span class="item-text">
              <h6 class="nameChief">John Smith</h6>
              <p class="para">15 March 2022</p>
            </span>
          </div>
          <div class="col-md-3 item">
            <img src="/assets/images/Timer.png" />
            <span class="item-text">
              <h6 class="cook">COOK TIME</h6>
              <p class="para">15 Minutes</p>
            </span>
          </div>
          <div class="col-md-3 item">
            <img src="/assets/images/Timer.png" />
            <span class="item-text">
              <h6 class="cook">PREP TIME</h6>
              <p class="para">15 Minutes</p>
            </span>
          </div>
          <div class="col-md-3 item">
            <img src="/assets/images/ForkKnife.png" />
            <span class="item-text">
              <h6 class="para">CHicken</h6>
            </span>
          </div>
        </div>
        <div class="hero-part">
          <video src="/assets/images/3195728-uhd_3840_2160_25fps.mp4" autoplay loop muted></video>
        </div>
      </div>
      
      <div class="col-md-4 Nutrition">
        <div class="icons">
          <img src="/assets/images/Group 901.png">
          <img src="/assets/images/Group 900.png">
        </div>
        <div class="info">
          <h3 class="title-info">Nutrition Information</h3>
          <div class="nut-items">
            <div class="nut-item">
              <span class="type">Calories</span>
              <span class="count">219.9 kcal</span>
            </div>
            <div class="nut-item">
              <span class="type">Total Fat</span>
              <span class="count">10.7 g</span>
            </div>
            <div class="nut-item">
              <span class="type">Carbohydrate
              </span>
              <span class="count">37.4 mg</span>
            </div>
            <div class="nut-item">
              <span class="type">Cholesterol</span>
              <span class="count">22.3 g</span>
            </div>
          </div>
          <p class="nut-des">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
    </div>
    <p class="final-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="Ingredients row">
    <div class="col-md-8 Ingredient">
      <h2 class="Ingredients-title">Ingredients</h2>
      <div class="selection">
        <h4 class="title-select">For main dish</h4>
        <div class="radio-group">
          <label class="radio-item">
            <input type="radio" name="option" value="1">
            <span class="checkmark"></span>
            <span class="label-text">Lorem ipsum dolor sit amet</span>
          </label>
        
          <label class="radio-item">
            <input type="radio" name="option" value="2">
            <span class="checkmark"></span>
            <span class="label-text">Lorem ipsum dolor sit amet</span>
          </label>
        
          <label class="radio-item">
            <input type="radio" name="option" value="3">
            <span class="checkmark"></span>
            <span class="label-text">Lorem ipsum dolor sit amet</span>
          </label>
        
          <label class="radio-item">
            <input type="radio" name="option" value="4">
            <span class="checkmark"></span>
            <span class="label-text">Lorem ipsum dolor sit amet</span>
          </label>
          <label class="radio-item">
            <input type="radio" name="option" value="5">
            <span class="checkmark"></span>
            <span class="label-text">Lorem ipsum dolor sit amet</span>
          </label>
        </div>
        
      </div>
    </div>
    <div class="other col-md-4">
      <h2 class="other-title">Other Recipe</h2>
      <div class="other-main">
        <div class="other-item">
          <img src="/assets/images/food4.png">
          <div class="other-details">
            <h6>Chicken Meatball with Creamy Chees...</h6>
            <p>By Andreas Paula</p>
          </div>
        </div>
        <div class="other-item">
          <img src="/assets/images/food2.png">
          <div class="other-details">
            <h6>Chicken Meatball with Creamy Chees...</h6>
            <p>By Andreas Paula</p>
          </div>
        </div>
        <div class="other-item">
          <img src="/assets/images/food3.png">
          <div class="other-details">
            <h6>Chicken Meatball with Creamy Chees...</h6>
            <p>By Andreas Paula</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="Ingredients row">
      <div class="col-md-8 Ingredient">
        <div class="selection">
          <h4 class="title-select">For the sauce</h4>
          <div class="radio-group">
            <label class="radio-item">
              <input type="radio" name="option" value="6">
              <span class="checkmark"></span>
              <span class="label-text">Lorem ipsum dolor sit amet</span>
            </label>
          
            <label class="radio-item">
              <input type="radio" name="option" value="7">
              <span class="checkmark"></span>
              <span class="label-text">Lorem ipsum dolor sit amet</span>
            </label>
          
            <label class="radio-item">
              <input type="radio" name="option" value="8">
              <span class="checkmark"></span>
              <span class="label-text">Lorem ipsum dolor sit amet</span>
            </label>
          
          </div>
          
        </div>
      </div>
      <div class="main-img col-md-4">
        <img src="/assets/images/foodGroup.png"/>
      </div>
     </div>
  </div>
</section>

<app-inbox></app-inbox>

