<section class="search container">
    <div class="search-title">
        <h1>Search for delicious recipe to make your day</h1>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ad minim veniam.</p>
            <input type="text" placeholder="Search recipes" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
                class="form-control mt-3">
        </div>
    </div>

    <div *ngIf="noResults" class="error-message">No matches found.</div> 

    <div class="search-main row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-4 justify-content-center">
        <ng-container *ngFor="let item of filteredRecipes; let i = index">
            <div class="col">
                <div class="card recipe-card">
                    <div class="position-relative">
                        <img [src]="item.image" class="card-img-top" alt="{{ item.title }} Recipe Image">
                    </div>
                    <div class="card-body text-start">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <div class="d-flex flex-start align-items-center text-muted">
                            <div class="me-3">
                                <img src="assets/images/Timer.png">
                                <p class="card-item">{{ item.time }}</p>
                            </div>
                            <div>
                                <img src="assets/images/ForkKnife.png">
                                <p class="card-item">{{ item.mainIngredient }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>
