<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" routerLink="home" routerLinkActive="active">
            <img src="assets/images/Foodieland.png" alt="Foodieland Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- icons -->
            <ul class="navbar-nav ms-auto"> 
                <li class="nav-item">
                    <a class="nav-link " aria-current="page"routerLink="/auth/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page"routerLink="/auth/register">Register</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href=""><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
          </ul>
        </div>
    </div>
  </nav>
  